body {
    background-color: cornsilk;
}

/* es 1 */
.ex-1-square {
    transition: background 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/* es 2 */
.ex-2-square {
    transition: width 2s ease-in;
}

.ex-2-square:active {
    width: 100%;
}

/* es 3 */
.ex-3-square {
    transition: border-radius .5s ease-out;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* es 4 */
.ex-4-square {
    transition: opacity 1.5s cubic-bezier(.95, -0.02, .47, 2.1);
}

.ex-4-square:hover {
    opacity: 0;
}

/* es 5 */
.ex-5-square:hover {
    transform: scale(1.5);
    transition: transform .8s ease-in;
}

.ex-5-square:active {
    transform: scale(.1);
    transition: transform 1s ease-out;
}

/* proviamo i filtri */
/* es 6 */
.ex-6-img {
    transition: filter .5s ease;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* es 7 */
.ex-7-img {
    transition: filter .5s ease-out;
}

.ex-7-img:hover {
    filter: sepia(.5) grayscale(.3);
}

/* es 8 */
/* ******************************************** */
/* DIFFERENTI TIMING TRANSITION SULLA STESSA RIGA
SEPARATI DA VIRGOLA, SENNO' NON VANNO!!!*/
/* ******************************************** */
.ex-8-img {
    transition: border-radius .5s ease-out, filter .5s ease-out;
}

.ex-8-img:hover {
    filter: sepia(.4) grayscale(.4);
    border-radius: 20px;
}

/* es 9 */
.ex-9-img {
    transition: filter 1s ease-out, border-radius 1s ease-out, transform 1.8s linear;
}

.ex-9-img:hover {
    filter: saturate(.4) opacity(.4);
    border-radius: 30px;
    transform: scale(1.5);
}

/* ANIMATION */
/* es 10 */
.ex-10-icon {
    animation: rotazione 4s linear infinite;
}

@keyframes rotazione {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* es 11 */
.ex-11-icon:hover {
    animation: mezzaRotazione 2s linear;
}

@keyframes mezzaRotazione {
    0% {transform: rotate(0deg);}
    90% {transform: rotate(270deg);}
    100% {transform: rotate(0deg);}
}

/* es 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: spostamento1 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: spostamento2 2s linear;
}

@keyframes spostamento1 {
    0% {left: 10%;}
    50% {left: calc(100% - 57px);}
    100% {left: 10%;}
}


@keyframes spostamento2 {
    0% {right: 20%;}
    50% {right: calc(100% - 57px);}
    100% {right: 20%;}
}

/* es 13 */


.ex-13-button:hover .ex-13-top-white{
    animation: turnover1 4.5s linear infinite;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: turnover2 4.5s linear infinite;
}

.well {
    overflow: hidden;
}

@keyframes turnover1 {
    0% {left: 10%; top: -10px;}
    25% {left: calc(100% - 30px); top: -10px;}
    40% {left: calc(100% - 30px); top: calc(100% - 10px);}
    65% {left: -30px; top: calc(100% - 10px);}
    90% {left: -30px; top: -10px;}
    100% {left: 10%; top: -10px;}
}

@keyframes turnover2 {
    0% {right: 20%; bottom: -10px;}
    25% {right: calc(100% - 30px); bottom: -10px;}
    40% {right: calc(100% - 30px); bottom: calc(100% - 10px);}
    65% {right: -30px; bottom: calc(100% - 10px);}
    90% {right: -30px; bottom: -10px;}
    100% {right: 20%; bottom: -10px;}
}
