body {
    background-color: cornsilk;
}

/* es 1 */
.ex-1-square {
    transition: background 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/* es 2 */
.ex-2-square {
    transition: width 2s ease-in;
}

.ex-2-square:active {
    width: 100%;
}

/* es 3 */
.ex-3-square {
    transition: border-radius .5s ease-out;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* es 4 */
.ex-4-square {
    transition: opacity 1.5s cubic-bezier(.95, -0.02, .47, 2.1);
}

.ex-4-square:hover {
    opacity: 0;
}

/* es 5 */
.ex-5-square:hover {
    transform: scale(1.5);
    transition: transform .8s ease-in;
}

.ex-5-square:active {
    transform: scale(.1);
    transition: transform 1s ease-out;
}

/* proviamo i filtri */
/* es 6 */
.ex-6-img {
    transition: filter .5s ease;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* es 7 */
.ex-7-img {
    transition: filter .5s ease-out;
}

.ex-7-img:hover {
    filter: sepia(.5) grayscale(.3);

}
